{% if funcionarios %}
    <ul>
    {% for funcionario in funcionarios %}
        <li><a href="{% url 'details'  funcionario.id %}">{{ funcionario.nome }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}