<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
</head>
<body>
    <form action="{% url 'users' %}" method="post">
        {% csrf_token %}
        <input name="username" type="text" placeholder="nome"/></br>
        <input name="email" type="text" placeholder="email"/></br>
        <input name="password" type="text" placeholder="password"/></br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>